{% extends 'cinema/layout/layout.twig' %}
{% block page_title %}{{ membre.prenom|title }} {{ membre.nom|upper }}{% endblock %}

{% block page_content %}
<div class="ui grid container">
    <div class="ui sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h1 class="ui header">{{ membre.prenom|title }} {{ membre.nom|upper }}</h1>
                        <div class="extra">
                            <div>
                                <strong>{{ membre.nom_abo }}</strong> depuis le {{ membre.date_abo|date('d F Y') }}
                            </div>
                            <div>
                                <i class="calendar icon"></i><span>Inscrit le {{ membre.date_inscription|date('d F Y') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ site_url(['member', membre.id_membre, 'edit']) }}" class="ui button"><i class="pencil icon"></i>Editer le profil</a>
            </div>

            <div class="ui top attached tabular menu">
                <div class="active item">Historique</div>
            </div>
            <div class="ui bottom attached active tab segment">
                <div class="ui small images">
                {% for film in historique %}
                    <a href="{{ site_url(['movie', film.id_film, 'view']) }}">
                        <div class="ui placeholder">
                            <div class="image movie-poster-placeholder" data-movie-title="{{ film.titre }}"></div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}