<tr>
    <td>{{ result.prenom|title }} {{ result.nom|upper }}</td>
    <td>{{ result.date_inscription|date('d M Y') }}</td>
    {% if result.nom_abo %}
        <td><strong>{{ result.nom_abo }}</strong> depuis le {{ result.date_abo|date('d M Y') }}</td>
    {% else %}
        <td>Aucun</td>
    {% endif %}
    <td>
        <a class="ui primary basic button" href="{{ site_url(['member', result.id_membre, 'view']) }}">
            <i class="eye icon"></i><span>Voir le profil</span></a>
        <button class="ui basic button">
            <i class="pencil icon"></i><span>Editer</span></button>
    </td>
</tr>